<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pg.DarkSky.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <pg.DarkSky.Wpf.Properties.Settings>
            <setting name="Culture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value>2f4659626fb968a85a5ff22561962711</value>
            </setting>
        </pg.DarkSky.Wpf.Properties.Settings>
    </userSettings>
</configuration>